h1 {
  text-align:serif;
}



.contact{
  text-align: center;
  padding: 50px 20px;
  background: #f5f5f5;
}

.contact h2{
  margin-bottom: 20px;
  font-size: 28px;
}

.contact-buttons a{
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  text-decoration: none;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

/* WhatsApp Button */
.whatsapp{
  background: #25D366;
}

.whatsapp:hover{
  background: #1ebe5d;
}

/* Instagram Button */
.instagram{
  background: linear-gradient(45deg, #feda75, #d62976, #962fbf);
}

.instagram:hover{
  opacity: 0.8;
}


a:hover {
  color: pink;
  transition: 0.3s;
}


input:focus {
  border: 2px solid pink;
  outline: none;
}